<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="laser_joint" type="fixed">
        <parent link="chassis" />
        <child link="laser_frame" />
        <origin xyz="0.10525 ${0.02375 * 2.5} 0.132" rpy="0 0 0" />
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
                <cylinder radius="0.035" length="0.015" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.035" length="0.015" />
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.01" length="0.015" radius="0.035">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:inertial_cylinder>
    </link>

    <joint name="laser_rod_joint" type="fixed">
        <parent link="chassis" />
        <child link="laser_rod" />
        <origin xyz="0.10525 ${0.02375 * 2.5} 0.05" rpy="0 0 0" />
    </joint>

    <link name="laser_rod">
        <visual>
            <geometry>
                <cylinder radius="0.011" length="0.14" />
            </geometry>
            <material name="red" />
        </visual>
    </link>

    <gazebo reference="laser_frame">
        <sensor name="laser" type="gpu_lidar">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <pose>0 0 0 0 0 0</pose>
            <update_rate>10</update_rate>
            <topic>scan</topic>
            <gz_frame_id>laser_frame</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>0.0</min_angle>
                        <max_angle>6.28</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>12</max>
                </range>
            </lidar>
        </sensor>

    </gazebo>
</robot>